.albumPageBody {
    position: fixed;
    /* padding: 50px; */
    top: 50px;
    left: 200px;
    height: 100vh;
    width: 100vw;
    padding: 5px;
    background: linear-gradient(rgb(36, 36, 36), rgba(0, 0, 0, 1));
    color: white;
    overflow: auto;
    padding-bottom: 200px;
}

.albumPageImg {
    display: flex;
    margin: 50px 0px 0px 50px;
}

.albumShowImg {
    /* margin: 70px 50px 50px 50px; */
    padding-right: 50px;
    height: 200px;
    width: 250px;
    object-fit: contain;
}

.albumShowTitle {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.albumSongType {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin-left: 50px;
    margin-top: 50px;
    border-bottom: 1px solid grey;
    margin-bottom: 25px;

}

.albumSongList {
    /* display: grid;
    grid-template-columns: repeat(5, 250px);
    transition: background-color .5s; */
    margin-left: 50px;
}
