.mainBody {
    background-color: white;
    height: 100vh;
    padding: 5px;
    background: linear-gradient(rgb(36, 36, 36), rgba(0, 0, 0, 1));
    color: white;
    overflow: scroll;

    display: flex;
    flex-direction: column;
    width: 85%;
    position: relative;
    left: 15%;

    /* z-index: 1; */
}
