.mainBody {
    background-color: #4820b0;
    height: 100vh;
    padding: 20px;
    background: linear-gradient(rgb(36, 36, 36), rgba(0, 0, 0, 1));
    color: white;
    overflow: scroll;

    /* z-index: 1; */
}
