.playBar {
    position: fixed;
    bottom: 0;
    height: 90px;
    width: 100%;
    background-color: black;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    left: 0;

    z-index: 10;
}