/* CSS below for PlaylistIndex */

.playlistPageBody {
    /* top: 50px;
    left: 200px;
    height: 100vh;
    width: 100vw;
    padding: 5px 5px 200px 5px;
    background-color: linear-gradient(rgb(36, 36, 36), rgba(0, 0, 0, 1));
    color: white;
    overflow: auto; */

    display: block;
    margin-top: 60px;
    margin-left: 125px;
    background: linear-gradient(rgb(35, 35, 35), black);
    color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    /* width: fit-content; */
    height: fit-content;
    overflow: scroll;
    padding-bottom: 100px;
    padding-right: 30px;
}

.plIndTitle {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin: 50px 0px 0px 130px;
}

.plIndDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    margin: 50px 0px 0px 130px;
    padding: 0px 0px 0px 0px;
}


/* CSS below for PlaylistIndexItem */

.playlistsList {
    display: flex;
    flex-direction: column;
    background-color: red;

    margin: 0px 20px 0px 0px;
}


/* CSS below for PlaylistCreate */

.playlistCreate {
    display: block;
    margin: 60px 0px 0px 125px;
    background: linear-gradient(rgb(35, 35, 35), black);
    color: white;
    position: absolute;
    /* height: 100%; */
    width: 100%;
    /* width: fit-content; */
    height: fit-content;
    overflow: scroll;
    padding-bottom: 100px;
}

.playlistCreateHead {
    color: white;
    font-size: 72px;
    font-weight: 800;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    display: flex;
    align-items: center;

    margin: 100px 0px 0px 100px;
    padding: 0px 0px 0px 50px;
}

.plImg {
    width: 200px;
    height: 200px;
    margin-right: 50px;
}

.plUN {
    color: white;
    font-size: 14px;
    font-weight: 800;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

    margin: 10px 0px 0px 0px;
}

.playlistCreateBody {
    /* display: flex;
    flex-direction: column; */
    margin: 50px 0px 0px 100px;

    font-size: 24px;
    font-weight: 800;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

    border-top: 1px solid #818181;
    padding: 30px 32px 0px 32px;
}

.plSearchHead {
    margin-top: 24px;
    padding: 24px 0px;
}

.plSongResults {
    margin: 0px 0px 0px 10px;
}

/* .plSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    max-height: 50px;
    margin-top: 300px;
} */


/* Playlist Search Bar */

.plSBar {
    height: 30px;
    width: 400px;
    background-color: #FFFFFF1A;
    color: white;
    border-radius: 7px;
    margin-bottom: 10px;
}


/* CSS for PlaylistResLine */

.plAdd {
    width: 90%;
    height: 50px;
    margin-top: 10px;
    display: flex;
    align-items: center;

    /* border: 1px solid yellow; */
}

.plAdd:hover {
    background-color: #FFFFFF1A
}

.plAddImg {
    width: 30px;
    height: 30px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.plSInfo {
    width: 650px;
}

.plSTitle {
    font-size: 16px;
    font-weight: 600;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    margin: 0px 0px 0px 5px;
    padding: 0px 0px 0px 5px;

}

.plSArtist {
    font-size: 12px;
    font-weight: 400;
    font-family: circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    margin: 5px 0px 0px 5px;
    padding: 0px 0px 0px 5px;
}

.plSAlbumInfo {
    width: 450px;
}

.plSAlbum {
    font-size: 16px;
    font-weight: 600;
    font-family: circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    margin: 5px 0px 0px 5px;
    padding: 0px 0px 0px 5px;
}

.plAddButton {
    /* margin-left: auto; */
    margin-right: 10px;
    height: 30px;
    width: 50px;
    border-radius: 35%;
    border: 1px solid #818181;
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

}