/* CSS below for PlaylistIndex */

.playlistPageBody {
    /* top: 50px;
    left: 200px;
    height: 100vh;
    width: 100vw;
    padding: 5px 5px 200px 5px;
    background-color: linear-gradient(rgb(36, 36, 36), rgba(0, 0, 0, 1));
    color: white;
    overflow: auto; */

    display: block;
    margin-top: 60px;
    margin-left: 125px;
    background: linear-gradient(rgb(35, 35, 35), black);
    color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    /* width: fit-content; */
    height: fit-content;
    overflow: scroll;
    padding-bottom: 100px;
    padding-right: 30px;
}

.plIndTitle {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin: 50px 0px 0px 130px;
}

.plIndDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0px 0px 130px;
    padding: 0px 0px 0px 0px;
}


/* CSS below for PlaylistCreate */

.playlistCreate {
    display: block;
    margin-top: 60px;
    margin-left: 125px;
    background: linear-gradient(rgb(35, 35, 35), black);
    color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    /* width: fit-content; */
    height: fit-content;
    overflow: scroll;
    padding-bottom: 100px;
}

.playlistCreateHead {
    color: white;
    font-size: 72px;
    font-weight: 800;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

    margin: 100px 0px 0px 100px;
    padding: 0px 0px 0px 50px;
}

.plUN {
    color: white;
    font-size: 14px;
    font-weight: 800;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

    margin: 10px 0px 0px 0px;
}

.playlistCreateBody {
    /* display: flex;
    flex-direction: column; */
    margin: 50px 0px 0px 100px;

    font-size: 24px;
    font-weight: 800;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

    border-top: 1px solid #818181;
    padding: 30px 32px 0px 32px;
}

.plSearchHead {
    margin-top: 24px;
    padding: 24px 0px;
}

/* .plSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    max-height: 50px;
    margin-top: 300px;
} */


/* Playlist Search Bar */

.plSBar {
    height: 30px;
    width: 400px;
    background-color: #FFFFFF1A;
    color: white;
    border-radius: 7px;
}


/* CSS for PlaylistAddSong */

.plAdd {
    width: 100%;
    height: 50px;

}

.plAddImg {
    width: 30px;
    height: 30px;

}