/* CSS below for PlaylistIndex */

.playlistPageBody {
    /* top: 50px;
    left: 200px;
    height: 100vh;
    width: 100vw;
    padding: 5px 5px 200px 5px;
    background-color: linear-gradient(rgb(36, 36, 36), rgba(0, 0, 0, 1));
    color: white;
    overflow: auto; */

    display: block;
    margin-top: 60px;
    margin-left: 125px;
    background: linear-gradient(rgb(35, 35, 35), black);
    color: white;
    position: absolute;
    height: 100%;
    width: 100%;

    /* width: fit-content; */
    /* height: fit-content; */
    overflow: scroll;
    padding-bottom: 100px;
    padding-right: 30px;
}

.plIndTitle {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin: 75px 0px 0px 130px;
}

.plIndDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    margin: 20px 0px 0px 130px;
    padding: 0px 0px 0px 0px;
}


/* CSS below for PlaylistIndexItem */

.playlistsList {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 30px 30px 0px 0px;
}

.plIndImgCont {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    grid-template-rows: repeat(2, 1fr); /* Two rows with equal height */
}

.playlistCover {
    margin: 0px 0px 0px 0px;
    width: 100px;
    height: 100px;
}

.plIndInfo {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plIndInfoTitle {
    font-size: 35px;
    margin-bottom: 5px;
}


/* CSS below for PlaylistCreate */

.playlistCreate {
    display: block;
    margin: 60px 0px 0px 125px;
    background: linear-gradient(rgb(35, 35, 35), black);
    color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    /* width: fit-content; */
    /* height: fit-content; */
    overflow: scroll;
    padding-bottom: 100px;
}

.playlistCreateHead {
    color: white;
    font-size: 72px;
    font-weight: 800;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    display: flex;
    align-items: center;

    margin: 100px 0px 50px 100px;
    padding: 0px 0px 0px 50px;
}

.plImgCont {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    grid-template-rows: repeat(2, 1fr); /* Two rows with equal height */
    margin-right: 50px;
}

.plImg {
    width: 100px;
    height: 100px;
    margin: 0px 0px 0px 0px;
    /* object-fit: cover; */
}

.titleChange {
    width: 300px;
    height: 50px;
    margin-right: 20px;
}


.plUN {
    color: white;
    font-size: 14px;
    font-weight: 800;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

    margin: 40px 0px 0px 0px;
}

.plDelete {
    color: white;
    font-size: 14px;
    font-weight: 800;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    width: 110px;

    margin: 10px 0px 0px 200px;
}

.plSongDisplay {
    margin: 30px 0px 0px 130px;
}

.plColumnSign {
    display: flex;
    flex-direction: row;
    gap: 670px;
    margin: 10px 0px 0px 0px;
    padding-bottom: 10px;
    /* border-bottom: 1px solid grey; */
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    border-bottom: 1px solid grey;
}

.dkdk {
    margin: 30px 0px 30px 0px;
}

.dk {
    display: flex;
    align-items: center;
}

.plSongsIndex {
    margin-right: 20px;
}

.playlistCreateBody {
    /* display: flex;
    flex-direction: column; */
    margin: 0px 0px 0px 130px;
    /* padding: 30px 32px 0px 0px; */

    font-size: 24px;
    font-weight: 800;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.plSearchHead {
    margin-top: 24px;
    padding: 24px 0px;
}

.plSongResults {
    margin: 20px 0px 20px 10px;
}

/* .plSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    max-height: 50px;
    margin-top: 300px;
} */


/* Playlist Search Bar */

.plSBar {
    height: 30px;
    width: 400px;
    background-color: #FFFFFF1A;
    color: white;
    border-radius: 7px;
    margin-bottom: 30px;
}


/* CSS for PlaylistResLine */

.plAdd {
    width: 90%;
    height: 50px;
    margin-top: 10px;
    display: flex;
    align-items: center;

    /* border: 1px solid yellow; */
}

.plAdd:hover {
    background-color: #FFFFFF1A
}

.plAddImg {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plSInfo {
    width: 650px;
    cursor: pointer;
}

.plSTitle {
    font-size: 16px;
    font-weight: 600;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    margin: 0px 0px 0px 5px;
    padding: 0px 0px 0px 5px;

}

.plSArtist {
    font-size: 12px;
    font-weight: 400;
    font-family: circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    margin: 5px 0px 0px 5px;
    padding: 0px 0px 0px 5px;
}

.plSAlbumInfo {
    width: 450px;
    cursor: pointer;
}

.plSAlbum {
    font-size: 16px;
    font-weight: 600;
    font-family: circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    margin: 5px 0px 0px 5px;
    padding: 0px 0px 0px 5px;
}

.plAddButton {
    /* margin-left: auto; */
    margin-right: 10px;
    height: 30px;
    width: 50px;
    border-radius: 35%;
    border: 1px solid #818181;
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

}

.plRemoveButton {
    /* margin-left: auto; */
    margin-right: 10px;
    height: 30px;
    width: 70px;
    border-radius: 35%;
    border: 1px solid #818181;
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}