
.searchBar {
    /* display: flex;
    justify-content: center;
    align-items: center; */

    height: 30px;
    width: 400px;
    margin-right: 10px;
    background-color: white;
    border-radius: 20px;

}

.searchResults {
    position: fixed;
    top: 10%;
    left: 15%;
    height: 100%;
    width: 90%;
    overflow-y: scroll;
    background: linear-gradient(rgb(35, 35, 35), black);
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 200px;
}

.searchArt {
    margin-bottom: 20px;
}

.searchType {
    font-weight: bold;
    color: white;
    font-size: 30px;
    margin: 0px 50px 5px 50px;
}


ul {
    padding-bottom: 5px;
}