.sideBar {
    display: flex;
    border: 1px solid black;
    height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
    width: 15%;
    background-color: black;
    color: rgb(184, 184, 184);
    z-index: 2;

    position: fixed;
    top: 0;
    /* min-width: 200px; */
}

.sideBarLogo {
    object-fit: contain;
    width: 75%;
    margin-top: 15px;
    margin-left: 10px;

}

.buttons {
    /* width: 240px; */
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: black;
    margin-left: 0;
}

.homeButton {
    object-fit: contain;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 15px;
    margin-bottom: 25px;

    cursor: pointer;
    transition: 200ms color ease-in;
}

#homeButton:hover {
    color: white;
}

#homeButton {
    color: rgb(159, 156, 156);
    text-decoration: none;
}

.searchButton {
    object-fit: contain;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 25px;
    margin-bottom: 25px;

    cursor: pointer;
    transition: 200ms color ease-in;
}

#searchButton:hover {
    color: white;
}

#searchButton {
    color: rgb(159, 156, 156);
    text-decoration: none;
}

.yourLibraryButton {
    object-fit: contain;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 25px;

    cursor: pointer;
    transition: 200ms color ease-in;
}

#yourLibraryButton:hover {
    color: white;
}

#yourLibraryButton {
    color: rgb(159, 156, 156);
    text-decoration: none;
}

.sideBarPlaylists {
    object-fit: contain;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 60px;

    cursor: pointer;
    transition: 200ms color ease-in;
}

#sideBarPlaylists:hover {
    color: white;
}

#sideBarPlaylistsButton {
    color: rgb(159, 156, 156);
    text-decoration: none;
}

/* .loggedInSideBarOptions {
    
} */