.artistPageBody {
    position: fixed;
    /* padding: 50px; */
    top: 50px;
    left: 220px;
    height: 100vh;
    padding: 5px;
    background: linear-gradient(rgb(36, 36, 36), rgba(0, 0, 0, 1));
    color: white;
    overflow: auto;
    padding-bottom: 200px;

    /* display: flex; */

    /* z-index: 1; */
}

.artistSection {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    /* color: #fff; */
    margin: 20px 0px 20px 40px;
}

.artistRelatedDisplay {
    display: flex;
}

img {
    width: 100px;
    height: 100px;
}

.artistAlbum {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 40px;
    padding: 10px 0px 10px 0px;
}

.artistImgName {
    display: flex;
}

.artistShowImg {
    margin: 70px 50px 50px 50px;
    height: 200px;
    width: 250px;
    object-fit: contain;
}

.artistShowName {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.artistShowDesc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px 40px 20px 40px;

    display: flex;
    margin: auto;
    width: fit-content;
    border-bottom: 1px solid rgba(125, 125, 125, 0.27);
}