/* TODO Add site wide styles */

/* html,body,#root {
    height: 100%;
    width: 100%;
} */



/* .navOuter {
    display: flex;
} */

/* html,body {
    overflow-x: hidden;
    overflow: hidden;
} */



* {
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100vh;
    /* float: right; */
    position: relative;
    left: 15%;
}
