.nav {
    display: flex;
    height: 100%;
    /* background-color: #0b0b0b; */
    /* height: 67px; */
}

.sidebar {
    width: 240px;
    height: 100%;
    /* position: fixed; */
    left: 0;
    /* top: 67px; */
    bottom: 0;
    background-color: black;
    z-index: 2;
}

.homeLogo {
    width: 75%;
    margin-top: 10px;
    margin-left: 10px;
}

.buttons {
    width: 240px;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: black;
    margin-left: 0;
}

.homeButton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 30px;
    /* margin-bottom: 5px; */
}

#homeButton {
    color: white;
    text-decoration: none;
}

.searchButton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 30px;
    /* margin-top: 5px; */
}

#searchButton {
    color: white;
    text-decoration: none;
}

.topButtons {
    /* float: right; */
    /* width: 30%; */

    /* display: flex;
    justify-content: center;
    justify-content: flex-end;
    align-items: center; */

    height: 10%;
    background-color: #0b0b0b;
}

.navTop {
    display: flex;
    position: absolute;
    right: 0;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;

    width: 100%;
    height: 10%;
    background-color: #0b0b0b;
    z-index: 1;
}

.navSignup {
    /* display: flex;
    justify-content: flex-end;
    align-items: center; */
    color: #A7A7A7;

    margin-right: 15px;
    margin-left: 30px;
    text-decoration: none;

    /* height: 20px;
    width: 100px;
    border-radius: 40px; */

}

.navLogin {
    box-sizing: border-box;
    background-color: white;
    color: black;
    height: 50px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 500px;
    text-decoration: none;

    margin-top: 7px;
    margin-right: 30px;
    margin-left: 15px;
}

.dropDown {
    /* display: block; */
    /* margin-left: auto;
    margin-right: auto; */

    /* justify-content: center;
    align-items: center; */

    margin-right: 20px;
    /* height: 50px; */

    color: white;
}

.dropDownOptions {
    color: white;
}

.profile-dropdown {
    color: white;
}