.nav {
    /* display: flex; */
    /* height: 100%; */

    /* background-color: #0b0b0b; */
    /* height: 67px; */

    /* top: 0; */
}

.topButtons {
    /* float: right; */
    /* width: 30%; */

    /* display: flex;
    justify-content: center;
    justify-content: flex-end;
    align-items: center; */

    height: 100%;
    background-color: #0b0b0b;
}

.navTop {
    display: flex;
    position: fixed;
    right: 0;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;

    width: 100%;
    height: 10%;
    background-color: #0b0b0b;
    z-index: 1;
}


.navSignup {
    color: #A7A7A7;

    margin-right: 15px;
    margin-left: 30px;
    text-decoration: none;
}

.navLogin {
    box-sizing: border-box;
    background-color: white;
    color: black;
    height: 50px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 500px;
    text-decoration: none;

    margin-top: 7px;
    margin-right: 30px;
    margin-left: 15px;
}

.loggedInTopBar {
    width: 100%;
}

.profileButton {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.dropDown {
    /* display: block; */
    /* margin-left: auto;
    margin-right: auto; */

    /* justify-content: center;
    align-items: center; */

    margin-right: 20px;
    /* height: 50px; */

    color: white;
}

.dropDownOptions {
    color: white;
}

.profile-dropdown {
    color: white;
}